<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-injection" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Injection</name>
    <DESCRIPTION>cordova plugin injection</DESCRIPTION>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Injection">
                <param name="ios-package" value="Injection"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVURLProtocolInjection.h" />
        <source-file src="src/ios/CDVURLProtocolInjection.m"/>
        <hook type="after_plugin_install" src="scripts/ios/afterInstall.js" />
        <hook type="before_plugin_uninstall" src="scripts/ios/beforeUninstall.js" />
    </platform>
    <platform name="android"> 
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="injection">
                <param name="android-package" value="com.cordova.injection.Injection"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <hook type="after_plugin_install" src="scripts/android/afterInstall.js" />
        <hook type="before_plugin_uninstall" src="scripts/android/beforeUninstall.js" />
    </platform>
</plugin>